html {
    background-color:F0A7A0;
    height: 100vh;
}
body {
    width: 500px;
    margin: auto;
}
h1 {
    margin-left: auto;
    margin-right: auto;
    color: black;
    background-color: FFE8E1;
    width: 200px;
    font-family: cursive 'Courier New', Courier, monospace;
    border: 2px solid black;
    text-align: center;
    border-radius: 15px;
}
nav {
    background-color: FFE8E1;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
  }
nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.note {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100px;
    justify-content: center;
    background-color: FFE8E1;
    border-radius: 15px;
    text-align: center;
    position: relative;
    }
#noteTitle {
    font-weight: bold;
}
#noteBody {
    font-style: italic;
}
#button2 {
    margin: 0 auto;
    margin-top: 20px;
    background-color: FFE8E1 ;
    padding: 10px;
    font-size: 25px;
    width: 30%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}